@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  /* font-style: normal; */
}